body {
	background: black;
}

::selection {
	color: purple;
	background-color: red;
}

#background {
	display: flex;
	position: absolute;
	width: 95%;
	height: 90%;
	z-index: -1;
	flex-flow: column;
}

.backgroundDecorationContainer {
	display: flex;
	justify-content: space-around;
	flex-flow: row nowrap;
	width: 100%;
	height: 300px;
}

.backgroundDecorationContainer img {
	filter: brightness(0%);
	width: 5%;
	margin: auto -10px auto -10px;
	opacity: 0.25;
}

.backgroundAnimation1 {
	animation: backgroundImageAnimation 6s ease-in-out infinite;
}

.backgroundAnimation2 {
	animation: backgroundImageAnimation 6s ease-in-out 1s infinite;
}

.backgroundAnimation3 {
	animation: backgroundImageAnimation 6s ease-in-out 2s infinite;
}

.backgroundAnimation4 {
	animation: backgroundImageAnimation 6s ease-in-out 3s infinite;
}

.backgroundAnimation5 {
	animation: backgroundImageAnimation 6s ease-in-out 4s infinite;
}

.backgroundAnimation6 {
	animation: backgroundImageAnimation 6s ease-in-out 5s infinite;
}

@keyframes backgroundImageAnimation {
	0% {
		margin-top:535px;
		filter: opacity(0%);
		transform: translate(-10px) rotate(5deg);
	}
	25% {
		filter: opacity(100%);
		transform: translate(15px) rotate(-5deg);
	}

	50% {
		transform: translate(-15px) rotate(5deg);
	}

	75% {
		filter: opacity(100%);
		transform: translate(15px) rotate(-5deg);
	}
	100% {
		margin-top:-10px;
		filter: opacity(0%);
		transform: translate(-10px) rotate(5deg);
	}
}

#titleBody {
	height: 600px;
	display: flex;
	align-items: center;
	flex-flow: column;
}

#titleHeading {
	margin-top: 150px;
	padding: 0px 10px;
	border-radius: 7px;
	max-width: min-content;
	min-width: max-content;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	height: 110px;
	background-image: linear-gradient(90deg,red, yellow, green, blue, purple);
}

#musicableTitle {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	border: 5px solid black;
	border-radius: 7px;
	margin-top: 10px;
	height: 70px;
	padding: 5px;
	font-size: 60px;
	transition: background-color 0.1s;
}


#musicableTitle:hover {
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
}

.titleButtonContainer {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
}

.titleButton {
	max-width: 300px;
	width:100%;
	justify-content: center;
	padding: 0px;
	margin:10px 10px auto 10px;
	border-radius: 7px;
	border: 0px solid transparent;
	transition: border, margin, 0.15s;
}

.titleButton h1 {
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	width: auto;
	margin: 10px;
	transition: font-size 0.1s;
}

.titleButton p {
	color:rgba(255, 255, 255, 0.75);
	margin: 10px;
	text-align: center;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
}

.titleButton:hover {
	cursor: pointer;
}

.titleButton:hover h1 {
	font-size: 32px;
	color: rgba(255, 255, 255, 1);
}

.titleButton img {
	width: 30px;
	margin-left: 45%;
}

#listenButton {
	background-color: rgba(255, 0, 0, 0.25);
	transition: background-color 0.15s;
}

#listenButton:hover {
	background-color: rgba(255, 0, 0, 0.75);
}

#shareButton {
	background-color: rgba(0, 255, 0, 0.25);
	transition: background-color 0.15s;
}

#shareButton:hover {
	background-color: rgba(0, 255, 0, 0.75);
}

#discussButton {
	background-color: rgba(0, 0, 255, 0.25);
	transition: background-color 0.15s;
}

#discussButton:hover {
	background-color: rgba(0, 0, 255, 0.75);
}

.toolBar {
	display: flex;
	position:fixed;
	bottom:0;
	margin-left:-10px;
	width:100%;
	height:30px;
	background-color: black;
	border-top: 3px solid yellow;
}

.homeButton {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: yellow;
	font-weight: 900;
	border: 3px solid black;
	border-radius: 5px;
	float: left;
	margin: auto;
	padding: 3px;
	transition-property: background-color color;
	transition-duration: 0.2s;
}

.homeButton:hover {
	background-color: rgba(255, 255, 0, 1);
	color: black;
	cursor: pointer;
}

.separator {
	width:100%;
	color: transparent;
}

#siteInfoButton {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: yellow;
	font-weight: 900;
	border: 3px solid black;
	border-radius: 5px;
	float: left;
	margin: auto;
	padding: 3px;
	transition-property: background-color color 0.2s;
}

#siteInfoButton:hover {
	background-color: rgba(255, 255, 0, 1);
	color: black;
	cursor: pointer;
}

#siteInfoOverlayContainer {
	position: fixed;
	display: none;
	justify-content: space-around;
	width: 100%;
	height: 50%;
	top: 25%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 2;
}

#siteInfoOverlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	width: 75%;
	border: 5px solid yellow;
	border-radius: 7px;
}

#infoOverlayTitle {
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: black;
	width: max-content;
	border: 5px solid black;
	border-radius: 7px;
	background-image: linear-gradient(90deg, red, yellow, green, blue, purple);
	padding: 5px;
	margin: -30px auto auto auto;
}

#overlayCloseButton {
	cursor: pointer;
	width: min-content;
	color: rgba(255, 255, 0, 0.5);
	font-family: 'Courier New', Courier, monospace;
	font-size: 12px;
	margin-left: auto;
	margin-right: 10px;
}

#overlayCloseButton:hover {
	color: rgba(255, 255, 0, 1);
}

.overlayParagraph {
	color: rgba(255, 255, 255, 0.75);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	margin: 15px;
}